<h1>Holla</h1>
<form action="/post" method="post">
    <h1>Add</h1>
    <div class="form-group ad-30" style="margin-top:8px;">
        <div class="input-group search-style">
            <input class="form-control new-search-bar" name="id" id="search" placeholder="Id"
                type="text">
            <input class="form-control new-search-bar" name="hindi" id="search" placeholder="Enter Your Hindi Sentence"
                type="text">
            <span class="input-group-btn">
                <button class="btn input-btn" type="" id="search-form">Submit</button>
            </span>
        </div>
    </div>
</form>
<br>
<form action="/add" method="post">
    <h1>Update</h1>
    <div class="form-group ad-30" style="margin-top:8px;">
        <div class="input-group search-style">
            <input class="form-control new-search-bar" name="trans" id="search" placeholder="Enter Your Translation for the id"
                type="text">
            <input class="form-control new-search-bar" name="id" id="search"
                placeholder="Id" type="text">
            <span class="input-group-btn">
                <button class="btn input-btn" type="" id="search-form">Submit</button>
            </span>
        </div>
    </div>
</form>